
{% for article in pagerfanta.currentPageResults %}
    <h2><a href="{{ path('smart_blog.article.show', {'slug': article.slug}) }}">{{ article.title }}</a></h2>

    <p><i class="icon-calendar"></i> {{ article.createdAt | localizeddate('full') }}</p>

    <p>{{ article.annotation }}</p>

    {% if article.tags|length %}
        {{ 'Tags'|trans }}:
        {% for tag in article.tags %}
            <a href="{{ path('smart_blog_tag', {'slug': tag.slug}) }}"><span class="label label-info">{{ tag }}</span></a>
        {% endfor %}
    {% endif %}

    {% if article.category %}
        {{ 'Category'|trans }}:
        <a href="{{ path('smart_blog.category.articles', {'slug': article.category.slugFull}) }}/"><span class="label label-success">{{ article.category }}</span></a>
    {% endif %}

    <hr/>
{% endfor %}

{% if pagerfanta.haveToPaginate %}
    {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {
            'css_container_class': 'pagination pagination-centered',
        })
    }}
{% endif %}
