<h2>{{ article.title }}</h2>

<p><i class="icon-calendar"></i> {{ article.createdAt|date('Y-m-d H:i:s') }}</p>

<p>{{ article.annotation }}</p>

<p>{{ article.text }}</p>

{% for tag in article.tags %}
    <a href="{{ path('smart_blog_tag', {'slug': tag.slug}) }}"><span class="label label-info">{{ tag }}</span></a>
{% endfor %}

<hr />
