<h2>{{ article.title }}</h2>

<p><i class="icon-calendar"></i><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ article.createdAt | localizeddate('full') }}</p>

<p>{{ article.annotation }}</p>

<p>{{ article.text }}</p>

{% for tag in article.tags %}
    <a href="{{ path('smart_blog_tag', {'slug': tag.slug}) }}"><span class="label label-info">{{ tag }}</span></a>
{% endfor %}

<hr />
