{% extends app.request.xmlHttpRequest ? '@SmartCoreEngine/ajax.html.twig' : '@SmartCoreEngine/Admin/index.html.twig' %}

{% block html_head_title %}{{ 'Blocks'|trans }} / {{ parent() }}{% endblock html_head_title %}

{% block subnav %}
    {% if not app.request.xmlHttpRequest %}
        {{ knp_menu_render('SmartCoreEngineBundle:AdminMenu:structure', {'currentClass': 'active'})  }}
    {% endif %}
{% endblock subnav %}

{% block content %}
{{ parent() }}

{% if all_blocks %}
    <table class="table table-bordered table-hover">
        <thead><tr>
            <th>#</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Description'|trans }}</th>
            <th>{{ 'Position'|trans }}</th>
            <th>{{ 'Inherit in folders'|trans }}</th>
            <th>{{ 'Nodes count'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for block in all_blocks %}
        <tr>
            <td>{{ block.id }}</td>
            <td><a href="{{ path('cmf_admin_structure_block_edit', {'id': block.id}) }}">{{ block.name }}</a></td>
            <td><a href="{{ path('cmf_admin_structure_block_edit', {'id': block.id}) }}">{{ block.descr }}</a></td>
            <td>{{ block.position }}</td>
            <td>@todo</td>
            <td>{{ block.nodesCount }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<div class="well well-small">
    {% if form_create %}

    {% form_theme form_create 'MopaBootstrapBundle:Form:fields.html.twig' %}

    <form action="{{ path('cmf_admin_structure_block') }}" {{ form_enctype(form_create) }} method="post" class="form-horizontal">
        {{ form_widget(form_create) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" name="create" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ 'Add'|trans }}</button>
            </div>
        </div>
    </form>
    {% elseif form_edit %}

    {% form_theme form_edit 'MopaBootstrapBundle:Form:fields.html.twig' %}

    <form action="{{ path('cmf_admin_structure_block_edit', {'id': block_id}) }}" {{ form_enctype(form_edit) }} method="post" class="form-horizontal">
        {{ form_widget(form_edit) }}
        <div class="control-group">
            <div class="controls">
                <button type="submit" name="update" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ 'Save'|trans }}</button>
                <button type="submit" name="delete" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить блок?')"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</button>
                <a class="btn" href="{{ path('cmf_admin_structure_block') }}"> {{ 'Cancel'|trans }}</a>
            </div>
        </div>
    </form>
    {% endif %}
</div>

{% endblock content %}
