{% extends '@SmartCoreEngine/Admin/structure.html.twig' %}

{% block html_head_title %}{{ 'Edit folder'|trans }} / {{ parent() }}{% endblock html_head_title %}

{% block content %}
    {% if not app.request.xmlHttpRequest %}
        <div class="span9">
        {{ knp_menu_render('SmartCoreEngineBundle:AdminMenu:structure', {'currentClass': 'active'})  }}
    {% endif %}

    <div class="well well-small">
        {% form_theme form '@SmartCoreEngine/Form/bootstrap.html.twig' %}

        <form action="{{ path('cmf_admin_structure_folder', {'id': folder_id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
            {{ form_widget(form) }}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" name="update" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ 'Save'|trans }}</button>
                    {% if allow_delete %}
                        <button type="submit" name="delete" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить?')"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</button>
                    {% endif %}
                    <a class="btn cmf-cancel" href="{{ path('cmf_admin_structure') }}">{{ 'Cancel'|trans }}</a>
                </div>
            </div>

        </form>
    </div>

    {% if not app.request.xmlHttpRequest %}
        </div>
    {% endif %}
{% endblock content %}

{% block nav %}
    {% if not app.request.xmlHttpRequest %}
        <div class="span3">
            {{ include('@SmartCoreEngine/Admin/_tree.html.twig') }}
        </div>
    {% endif %}
{% endblock nav %}
