{% extends '@SmartCoreEngine/Admin/structure.html.twig' %}

{% block html_head_title %}{{ 'Create node'|trans }} / {{ parent() }}{% endblock html_head_title %}

{% block content %}
    <div class="span9">
    {{ knp_menu_render('SmartCoreEngineBundle:AdminMenu:structure', {'currentClass': 'active'})  }}

    <div class="well well-small">
        {% form_theme form '@SmartCoreEngine/Form/bootstrap.html.twig' %}

        <form action="" {{ form_enctype(form) }} method="POST" class="form-horizontal">

            {% if form_properties.count > 0 %}
                <ul class="nav nav-pills" id="nodeTab">
                    <li class="active"><a href="#node-properties">Параметры подключения модуля</a></li>
                    <li><a href="#node-common">Основные свойства ноды</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="node-properties">
                        {% form_theme form_properties '@SmartCoreEngine/Form/bootstrap.html.twig' %}
                        {{ form_widget(form_properties) }}
                    </div>
                    <div class="tab-pane" id="node-common">
                        {{ form_widget(form) }}
                    </div>
                </div>
            {% else %}
                {{ form_widget(form) }}
            {% endif %}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" name="create" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ 'Add'|trans }}</button>
                    <a class="btn cmf-cancel" href="{{ path('cmf_admin_structure') }}">{{ 'Cancel'|trans }}</a>
                </div>
            </div>

        </form>
    </div>

    </div>
{% endblock content %}

{% block nav %}
    <div class="span3">
        {{ include('@SmartCoreEngine/Admin/_tree.html.twig') }}
    </div>
{% endblock nav %}

{% block body_js %}
    {{ parent() }}
    {% if form_properties.count > 0 %}
        <script>
            $('#nodeTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
                $(this.hash + ' input.focused').focus();
            });
        </script>
    {% endif %}
{% endblock body_js %}
