{% extends '@SmartCoreEngine/Admin/structure.html.twig' %}

{% block content %}
    {% if app.request.xmlHttpRequest == false %}
    <div class="span9">
    {{ knp_menu_render('SmartCoreEngineBundle:AdminMenu:structure', {'currentClass': 'active'})  }}
    {% endif %}

    {% form_theme form 'SmartCoreEngineBundle:Form:bootstrap.html.twig' %}
    <div class="well well-small">
        <form action="{{ form_action }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
        {% block form_body %}
            {{ form_widget(form) }}
        {% endblock form_body %}
            <div class="control-group">
                <div class="controls">
                    {% if form_controls == 'create' %}
                        <button type="submit" name="create" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{ 'Add'|trans }}</button>
                    {% elseif form_controls == 'update' %}
                        <button type="submit" name="update" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ 'Save'|trans }}</button>
                        {% if allow_delete %}
                            <button type="submit" name="delete" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить?')"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</button>
                        {% endif %}
                    {% endif %}
                    <a class="btn cmf-cancel" href="{{ path('cmf_admin_structure') }}">{{ 'Cancel'|trans }}</a>
                </div>
            </div>

        </form>
    </div>

    {% if app.request.xmlHttpRequest == false %}
    </div>
    {% endif %}
{% endblock content %}


{% block html_head_title %}{{ html_head_title|trans }} / {{ parent() }}{% endblock html_head_title %}


{% block nav %}
{% if app.request.xmlHttpRequest == false %}
    <div class="span3">
    {{ render(controller('SmartCoreEngineBundle:AdminStructure:showTree', {'folder_id': folder_id, 'node_id': node_id} )) }}
    </div>
{% endif %}
{% endblock nav %}


{% block subnav %}{% endblock subnav %}
