<h3>Моя корзина</h3>

{% if is_granted('ROLE_USER') %}
    {% if items %}
    <div class="row">
        <div class="span12 col-sm-12">
            <table class="table table-bordered table-hover">
                <thead><tr>
                    <th>Наименование</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                    <th>Дата</th>
                </tr></thead>
                <tbody>
                {% for orderItem in items %}
                    <tr>
                        <td>
                            {{ smart_media_img(orderItem.item.attr('image'), '100_100') }}
                            {{ orderItem.item.attr('title') }}
                        </td>
                        <td>
                            <button class="btn btn-default" onclick="alert('@todo: Сделать как у OZON.')">{{ orderItem.quantity }}</button>
                            <form action="" method="post" style="display: inline-block;">
                                <input type="hidden" name="_node_id" value="{{ node_id }}" />
                                <input type="hidden" name="order_item_id" value="{{ orderItem.id }}" />
                                <button class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить товар из корзиты?')" name="remove" title="Удалить">X</button>
                            </form>
                        </td>
                        <td>{{ orderItem.item.attr('price') }}</td>
                        <td>{{ orderItem.amount }}</td>
                        <td>{{ orderItem.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>Итого: <b>{{ order.amount }}</b> рублей</p>

            <p><a class="btn btn-success" href="{{ path('shop.checkout') }}">Оформить заказ</a></p>
        </div>
    </div>
    {% else %}
        <p>Корзина пуста.</p>
    {% endif %}
{% else %}
    <p><i>Пожалуйста <a href="{{ path('fos_user_registration_register') }}">зарегистрируйтесь</a>
            или <a href="{{ path('fos_user_profile_show') }}">войдите</a>
            для получения возможности оформлять заказы в интернет магазине.
        </i></p>
{% endif %}
