{% extends '@Html/base.html.twig' %}

{% set use_libs = {
    'bootstrap': null,
    'syntaxhighlighter': null,
} %}

{% block title %}{{ cms_html_title() }}{% endblock %}

{% block styles %}
    {{ parent() }}
    <style media="all" type="text/css"> @import url({{ asset('theme/css/screen.css') }}); </style>
    <style media="all" type="text/css"> @import url({{ asset('theme/css/dark_theme.css') }}); </style>
    <style media="all" type="text/css"> @import url({{ asset('theme/css/wp-syntax.css') }}); </style>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
    </script>
{% endblock %}

{% block body %}
<div class="container">
<div class="row-fluid">
    <div class="span3">
        {{ main_menu }}
    </div>

    <div class="span9">
        <div id="breadcrumbs">
            {{ breadcrumbs }}
        </div>

        {% include '@CMS/flash_messages.thml.twig' %}

        <div id="content">
            {% block content content %}
        </div>
    </div>
</div>
<div class="row-fluid" id="footer">
    <div class="span9">
        {{ footer }}
    </div>
    <div class="span3" style="text-align: right">
        {{ footer_right }}
    </div>

    <div class="span11 text-center">
        <p><small>{{ simple_profiler() }}</small></p>
    </div>
</div>
</div>
{% endblock body %}
