{% extends '@Html/base.html.twig' %}

{% block html_head_title %}{{ cms_html_title({'delimiter': '&ndash;', 'site_full_name': 'Smart Core CMS (based on Symfony2 Framework)', 'site_short_name': 'Smart Core CMS',}) }}{% endblock html_head_title %}

{% block html_head_styles %}
    {{ parent() }}
    {#<style media="all" type="text/css"> @import url({{ asset('theme/css/screen.css')}}); </style>#}
    {#<style media="all" type="text/css"> @import url({{ asset('theme/css/dark_theme.css')}}); </style>#}
{% endblock html_head_styles %}

{% block body %}
{#
{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
{{ facebook_login_button({'autologoutlink': true}) }}
#}
<div class="container">
<div class="row-fluid">
    <div class="span3">
        {% block main_menu block.main_menu %}
    </div>

    <div class="span9">
        <div id="breadcrumbs">
            {% block breadcrumbs block.breadcrumbs %}
        </div>

        {% include '@CMS/flash_messages.thml.twig' %}

        <div id="content">
            {% block content block.content %}
        </div>
    </div>
</div>

<div class="row-fluid" id="footer">
    <div class="span9">
        {% block footer block.footer %}
    </div>
    <div class="span3" style="text-align: right">
        {% block footer_right block.footer_right %}
    </div>

    <div class="span11 text-center">
        <p><small>{{ simple_profiler() }}</small></p>
    </div>
</div>

</div>
{% endblock body %}
