{% extends '@Html/base.html.twig' %}

{% block html_head_title %}{{ cms_html_title({'delimiter': '&ndash;', 'site_full_name': 'Smart Core CMS (based on Symfony2 Framework)', 'site_short_name': 'Smart Core CMS',}) }}{% endblock html_head_title %}

{% block html_head_styles %}
    {{ parent() }}
    <link href="{{ asset('assets/syntaxhighlighter/styles/shCore.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/syntaxhighlighter/styles/shThemeRDark.css') }}" rel="stylesheet">
    {#<style media="all" type="text/css"> @import url({{ asset('theme/css/screen.css')}}); </style>#}
    {#<style media="all" type="text/css"> @import url({{ asset('theme/css/dark_theme.css')}}); </style>#}
{% endblock html_head_styles %}

{% block html_head_scripts %}
    {{ parent() }}
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shCore.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushBash.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushCpp.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushCss.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushIni.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushJScript.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushPhp.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushPlain.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushSql.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushTwig.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushXml.js') }}"></script>
    <script src="{{ asset('assets/syntaxhighlighter/scripts/shBrushYaml.js') }}"></script>
    <script type="text/javascript">
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
    </script>
{% endblock html_head_scripts %}

{% block body %}
{#
{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
{{ facebook_login_button({'autologoutlink': true}) }}
#}
<div class="container">
<div class="row-fluid">
    <div class="span3">
        {{ main_menu }}
    </div>

    <div class="span9">
        <div id="breadcrumbs">
            {{ breadcrumbs }}
        </div>

        {% include '@CMS/flash_messages.thml.twig' %}

        <div id="content">
            {% block content content %}
        </div>
    </div>
</div>

<div class="row-fluid" id="footer">
    <div class="span9">
        {{ footer }}
    </div>
    <div class="span3" style="text-align: right">
        {{ footer_right }}
    </div>

    <div class="span11 text-center">
        <p><small>{{ simple_profiler() }}</small></p>
    </div>
</div>

</div>
{% endblock body %}
