<div id="wrapper_web_form_{{ web_form.name }}">

{% if form is defined %}
    {% form_theme form '@CMS/Form/bootstrap_wide.html.twig' %}
    {#{{ form_javascript(form) }}#}
{% endif %}

{% include 'WebFormModule::_form.html.twig' %}

{% if web_form.isAjax %}
<script>
    $('form[name=web_form_{{ web_form.name }}]').submit(function(e) {
        //prevent Default functionality
        e.preventDefault();

        //get the action-url of the form
        //var actionurl = e.currentTarget.action;

        //do your own request an handle the results
        $.ajax({
            url: '{{ path('cms_api_node_index', {'node_id': node_id}) }}',
            type: 'post',
            dataType: 'json',
            data: $('form[name=web_form_{{ web_form.name }}]').serialize(),
            success: function(data) {
                alert('Сообщение отправлено');
            },
            error: function(data) {
                var json_x = $.parseJSON(data.responseText);
                alert("При отправке сообщения возникли ошибки.\n" + json_x.data['form_errors_as_string']);
                //console.log(json_x);

                $.ajax({
                    type: 'POST',
                    url: '{{ path('cms_api_node', {'node_id': node_id, 'slug': 'get_form'}) }}',
                    data: $('form[name=web_form_{{ web_form.name }}]').serialize(),
                    success: function (d) {
                        $('#wrapper_web_form_{{ web_form.name }}').html(d);
                    }
                });
            }
        });

        return false;
    });
</script>
{% endif %}
</div>
