{% extends '@NewsModule/Admin/index.html.twig' %}

{% block html_head_title %}Написать новость / {{ parent() }}{% endblock html_head_title %}

{% block content %}
    <ul class="nav nav-tabs" id="myTab">
        <li><a href="{{ path('smart_news_admin') }}">Список всех новостей</a></li>
        <li class="active"><a>Написать новость</a></li>
    </ul>

    <div class="well well-small">
        {{ form(form) }}
    </div>

    {{ tinymce_init() }}
    {{ elfinder_tinymce_init() }}

{% endblock content %}
