{% extends '@CMS/Admin/module.html.twig' %}

{% block html_head_title %}Новости / {{ parent() }}{% endblock html_head_title %}

{% block content %}
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a>Список всех новостей</a></li>
        <li><a href="{{ path('smart_module.news_admin.create') }}">Написать новость</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="all">
            <table class="table table-bordered table-hover">
                <thead><tr>
                    <th>id</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Annotation'|trans }}</th>
                    <th>{{ 'Created'|trans }}</th>
                </tr></thead>
                <tbody>
                {% for item in news %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td><a href="{{ path('smart_module.news_admin.edit', {'id': item.id}) }}">{{ item.title }}</a></td>
                        <td>{{ item.annotation }}</td>
                        <td>{{ item.created|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock content %}
