{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Slider'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <ul class="nav nav-pills" id="myTab">
        <li class="active"><a>Список всех слайдеров</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="all">
            <table class="table table-bordered table-hover">
                <thead><tr>
                    <th style="width: 1%;">id</th>
                    <th>{{ 'Slider'|trans }}</th>
                    <th>{{ 'Dimension'|trans }}</th>
                    <th>{{ 'Pause time'|trans }}</th>
                    <th>{{ 'Library'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr></thead>
                <tbody>
                {% for slider in sliders %}
                    <tr>
                        <td>{{ slider.id }}</td>
                        <td><a href="{{ path('smart_module.slider.admin_slider', {'id': slider.id }) }}">{{ slider.title }}</a></td>
                        <td>{{ slider.width ~ 'x' ~ slider.height }}</td>
                        <td>{{ slider.pauseTime }}</td>
                        <td>{{ slider.library }}</td>
                        <td><a href="{{ path('smart_module.slider.admin_slider_edit', {'id': slider.id}) }}">Свойства слайдера</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    {{ form(form, {'attr': {'class': 'form-horizontal well'}} ) }}

{% endblock content %}
