{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Slider'|trans }} &laquo;{{ slider.title }}&raquo; / {{ parent() }}{% endblock %}

{% block content %}

    {% if folderPath %}
        <a class="btn btn-small" href="{{ folderPath }}" title="{{ app.request.host ~ folderPath }}" style="float: right; margin-top: 8px;">
            <i class="icon-home"></i> Перейти на страницу слайдера на сайте
        </a>
    {% endif %}

    <ul class="nav nav-pills" id="myTab">
        <li><a href="{{ path('smart_module.slider.admin') }}">Список всех слайдеров</a></li>
        <li class="active"><a href="{{ path('smart_module.slider.admin_slider', {'id': slider.id }) }}">Редактирование слайдера <b>&laquo;{{ slider.title }}&raquo;</b></a></li>
        <li><a href="{{ path('smart_module.slider.admin_slider_edit', {'id': slider.id}) }}">Свойства слайдера</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="all">
            <table class="table table-bordered table-hover">
                <thead><tr>
                    <th style="width: 1%;">id</th>
                    <th>{{ 'Slide'|trans }}</th>
                    <th>{{ 'Position'|trans }}</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Original filename'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th>{{ 'Created'|trans }}</th>
                </tr></thead>
                <tbody>
                {% for slide in slider.slides %}
                    <tr>
                        <td>{{ slide.id }}</td>
                        <td><a href="{{ path('smart_module.slider.admin_slider_item_edit', {'id': slide.id}) }}"><img src="{{ asset(webPath) }}{{ slide.filename }}" alt="" width="100" /></a></td>
                        <td>{{ slide.position }}</td>
                        <td>{{ slide.title }}</td>
                        <td>{{ slide.originalFileName }}</td>
                        <td>
                            {% if slide.enabled %}
                                <span class="label label-success">Включен</span>
                            {% else %}
                                <span class="label label-important">Отключен</span>
                            {% endif %}
                        </td>
                        <td>{{ slide.createdAt|localizeddate('long') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="well">
        {{ form(form) }}
    </div>

{% endblock content %}
