{% extends 'knp_menu.html.twig' %}

{% block linkElement %}
    {#{% import _self as knp_menu %}#}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>
        {% if item.extras.beforeCode %}
            {{ item.extras.beforeCode }}
        {% endif %}
        <span>
            {{ block('label')|trans(item.getExtra('translation_params', {}), item.getExtra('translation_domain', 'messages')) }}
        </span>
        {% if item.extras.afterCode %}
            {{ item.extras.afterCode }}
        {% endif %}
    </a>
{% endblock %}
