{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Media Library'|trans }} / {{ parent() }}{% endblock %}

{% set page_header = 'Media Library'|trans %}
{% set page_description = 'Configuration'|trans %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <h3>Коллекции <a href="{{ path('cms_admin_config_media_create_collection') }}" class="btn btn-default btn-xs btn-mini"><i class="icon-plus"></i><span class="glyphicon glyphicon-plus"></span> {{ 'Create collection'|trans }}</a></h3>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th>#</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Relative path'|trans }}</th>
            <th>{{ 'File relative path pattern'|trans }}</th>
            <th>{{ 'Filename pattern'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for collection in collections %}
            <tr>
                <td>{{ collection.id }}</td>
                <td><a href="{{ path('cms_admin_config_media_edit_collection', {'id': collection.id}) }}">{{ collection.title }}</a></td>
                <td>{{ collection.relativePath }}</td>
                <td>{{ collection.fileRelativePathPattern }}</td>
                <td>{{ collection.filenamePattern }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h3>Хранилища <a href="{{ path('cms_admin_config_media_create_storage') }}" class="btn btn-default btn-xs btn-mini"><i class="icon-plus"></i><span class="glyphicon glyphicon-plus"></span> {{ 'Create storage'|trans }}</a></h3>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th>#</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Relative path'|trans }}</th>
            <th>{{ 'Provider'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for storage in storages %}
            <tr>
                <td>{{ storage.id }}</td>
                <td><a href="{{ path('cms_admin_config_media_edit_storage', {'id': storage.id}) }}">{{ storage.title }}</a></td>
                <td>{{ storage.relativePath }}</td>
                <td>{{ storage.provider }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>

{% endblock content %}
