{% extends '@CMS/AdminStructure/structure.html.twig' %}

{% block title %}{{ 'Create node'|trans }} / {{ parent() }}{% endblock %}

{% block content %}
<div class="row">
    <div class="span9 col-md-9">
    {{ knp_menu_render('CMSBundle:AdminMenu:structure', {'currentClass': 'active'})  }}

    <form action="" {{ form_enctype(form) }} method="POST" class="form-horizontal well well-small">
        {% if form_properties.count > 0 %}
            <ul class="nav nav-pills" id="nodeTab">
                <li class="active"><a href="#node-properties">Параметры подключения модуля</a></li>
                <li><a href="#node-common">Основные свойства</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="node-properties">
                    {% form_theme form_properties '@CMS/Form/bootstrap.html.twig' %}
                    {{ form_widget(form_properties) }}
                </div>
                <div class="tab-pane" id="node-common">
                    {{ form_widget(form) }}
                </div>
            </div>
        {% else %}
            {{ form_widget(form) }}
        {% endif %}

        <div class="control-group">
            <div class="controls">
                <button type="submit" name="create" class="btn btn-success"><i class="icon-plus icon-white"></i><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'Add'|trans }}</button>

                {% if app.request.query.has('redirect_to') and folderPath %}
                    <a class="btn btn-default cms-cancel" href="{{ folderPath }}">{{ 'Cancel'|trans }}</a>
                {% else %}
                    <a class="btn btn-default cms-cancel" href="{{ path('cms_admin_structure') }}">{{ 'Cancel'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </form>

    </div>
{% endblock content %}

{% block bottom_nav %}
    <div class="span3 col-md-3">
        {{ include('@CMS/AdminStructure/_tree.html.twig') }}
    </div>
</div>
{% endblock bottom_nav %}

{% block body_js %}
    {{ parent() }}
    {% if form_properties.count > 0 %}
        <script>
            $('#nodeTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
                $(this.hash + ' input[autofocus="autofocus"]').focus();
            });
        </script>
    {% endif %}
{% endblock body_js %}
