{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Regions'|trans }} / {{ 'Structure'|trans }} / {{ parent() }}{% endblock %}

{% block subnav %}
    {{ knp_menu_render('CMSBundle:AdminMenu:structure', {'currentClass': 'active'})  }}
{% endblock subnav %}

{% block content %}
    {{ parent() }}

<div class="row-fluid">
<div class="span8">
    <table class="table table-bordered table-hover">
        <thead><tr>
            <th>#</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Description'|trans }}</th>
            <th>{{ 'Position'|trans }}</th>
            <th>{{ 'Inherit in folders'|trans }}</th>
            <th>{{ 'Modules count'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for region in all_regions %}
        <tr>
            <td>{{ region.id }}</td>
            <td><a href="{{ path('cms_admin_structure_region_edit', {'id': region.id}) }}">{{ region.name }}</a></td>
            <td><a href="{{ path('cms_admin_structure_region_edit', {'id': region.id}) }}">{{ region.description }}</a></td>
            <td>{{ region.position }}</td>
            <td>{% for folder in region.folders %}<a href="{{ path('cms_admin_structure_folder', {'id': folder.id}) }}">{{ folder }}</a>, {% endfor %}</td>
            <td>{{ cms_nodes_count_in_region(region) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="span4">
    <div class="well well-small">
        <h4>{{ 'Create'|trans }} {{ 'Region'|trans }}</h4>
        <form action="" {{ form_enctype(form) }} method="post" class="_form-horizontal">
            {{ form_widget(form) }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" name="create" class="btn btn-success"><i class="icon-plus icon-white"></i> {{ 'Create'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock content %}
