
{%- block cms_folder_tree_widget -%}
    {% if expanded %}
        {{- block('cms_folder_tree_widget_expanded') -}}
    {% else %}
        {{- block('cms_folder_tree_widget_collapsed') -}}
    {% endif %}
{%- endblock cms_folder_tree_widget -%}

{%- block cms_folder_tree_widget_expanded -%}
    {% spaceless %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' ' ~ (multiple ? 'checkbox' : 'radio'))}) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (widget_type ? widget_type : ''))}) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (inline is defined and inline ? 'inline' : ''))|trim}) %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ form_widget(child, {'attr': {'class': attr.widget_class|default('')}}) }}
                {{ child.vars.label|trans({}, translation_domain) }}
                </label>
            {% endfor %}
        </div>
    {% endspaceless %}
{%- endblock cms_folder_tree_widget_expanded -%}

{% block cms_folder_tree_widget_collapsed %}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} style="width: 100%;">
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('cms_folder_tree_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('cms_folder_tree_options') -}}
    </select>
{% endblock cms_folder_tree_widget_collapsed %}

{%- block cms_folder_tree_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{- block('cms_folder_tree_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}
                    {% if choice.data.isActive == false %} style="
                        text-decoration: line-through;
                        font-style: italic;
                        color: #b0b0af;
                    "{% endif %}>
                {{ choice.label|trans({}, translation_domain) }}
            </option>
        {%- endif -%}
    {% endfor %}
{%- endblock cms_folder_tree_options -%}
