{% set item_link = null %}

{% for attr in attributes %}
    {% if attr.isShowIn(mode) and item.hasAttribute(attr.name) %}
        {# @todo сделать линки более универсальные #}
        {% if attr.isLink and mode == 'list' %}
            {% set is_found_default_structure = false %}
            {% for category in item.categories %}
                {% if configuration.defaultStructure.id == category.structure.id and is_found_default_structure == false %}
                    {{ attr.openTag }}
                        <a href="{{ path('unicat.item_in_structure', {'structureSlug': category.slugFull, 'itemSlug': item.slug}) }}">{{ item.attribute(attr.name) }}</a>
                    {{ attr.closeTag }}
                    {% set is_found_default_structure = true %}
                {% endif %}
            {% endfor %}
            {% if is_found_default_structure == false %}
                {{ attr.openTag }}<a href="{{ path('unicat.item', {'itemSlug': item.slug}) }}">{{ item.attribute(attr.name) }}</a>{{ attr.closeTag }}
            {% endif %}
        {% elseif attr.type == 'checkbox' %}
            {{ attr.openTag }}{{ attr.title }}: {% if item.attribute(attr.name) %} да {% else %} нет {% endif %}{{ attr.closeTag }}
        {% elseif attr.type == 'image' %}
            {{ attr.openTag }}{{ smart_media_img(item.attribute(attr.name), attr.params.filter) }}{{ attr.closeTag }}
        {% else %}
            {{ attr.openTag }}{% if attr.isShowTitle %}{{ attr.title }}: {% endif %}{{ item.attribute(attr.name) }}{{ attr.closeTag }}
        {% endif %}
    {% endif %}
{% endfor %}

{{ render(controller('ShopModuleBundle:Shop:showBuyButton', {'item_id': item.id})) }}

<hr />
