{% extends '@Html/base.html.twig' %}

{% set use_libs = {
    'bootstrap': '3.3.4',
    'syntaxhighlighter': null,
} %}

{% block title %}{{ cms_html_title() }}{% endblock %}

{% block styles %}
    {{ parent() }}
    <style media="all" type="text/css">
        @import url({{ asset('bundles/cms/css/bootstrap-theme-smart-core.css') }});
        {#@import url({{ asset('bundles/felib/bootstrap/2.3.2/css/bootstrap-responsive.min.css') }});#}
        @import url({{ asset('bundles/site/css/screen.css') }});
        @import url({{ asset('bundles/site/css/dark_theme.css') }});
        @import url({{ asset('bundles/site/css/wp-syntax.css') }});
    </style>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
    </script>
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
    <div class="span3 col-md-3 col-sm-3 col-xs-12">
        {{ main_menu }}
    </div>

    <div class="span9 col-md-9 col-sm-9 col-xs-12">
        <div id="breadcrumbs">
            {{ breadcrumbs }}
        </div>

        {% include '@SmartCore/flash_messages.html.twig' %}

        <div id="content">
            {% block content content %}
        </div>
    </div>
</div>
<div class="row row-fluid" id="footer">
    <div class="span9 col-md-9 col-sm-9 col-xs-9">
        {{ footer }}
    </div>
    <div class="span3 col-md-3 col-sm-3 col-xs-3" style="text-align: right">
        {{ footer_right }}
    </div>

    <div class="span11 text-center">
        <p><small>{{ simple_profiler() }}</small></p>
    </div>
</div>
</div>
{% endblock body %}
