<div id="materialsHeader">
    <ul class="nav nav-list">
        {% for month in archiveMonthly %}
        <li>
            <a href="{{ path('smart_blog_archive_monthly', {
                    'year':  month.date|date('Y'),
                    'month': month.date|date('n'),
                }) }}">
                {#{{ month.date | localizeddate('none', 'none', null, null, 'LLLL YYYY') }} ({{ month.count }})#}
                {{ month.date|date('m Y') }} ({{ month.count }})
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
