
<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <ul class="clearfix">
            {% for img in slider.slides %}
                <li><img src="{{ imgPath ~ img.filename }}" width="{{ slider.width }}" height="{{ slider.height }}" alt="{{ img.title }}"></li>
            {% endfor %}
        </ul>
    </div>

    {#<p class="photo-credits">#}
    {#Photos by <a href="http://www.mw-fotografie.de">Marc Wiegelmann</a>#}
    {#</p>#}

    <a class="jcarousel-control-prev">&lsaquo;</a>
    <a class="jcarousel-control-next">&rsaquo;</a>

    <p class="jcarousel-pagination"></p>
</div>

<style type="text/css">
    .jcarousel-wrapper {
        max-width: {{ slider.width }}px;
    }
</style>