<style type="text/css" media="screen">
    .smart_gallery_album {
        margin: 10px 0 10px 0;
        padding: 0 0 10px 0;
        border-bottom: 1px solid #a6a6a6;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    }
    .smart_gallery_album_title {
        display: block;
        /*color: #2b587a;*/
        font-size: 130%;
        font-weight: bold;
        margin: 5px 0 12px 0;
        text-decoration: none;
    }
    .smart_gallery_album_title:hover {
        text-decoration: underline;
    }
    .smart_gallery_album p {
        margin: 10px 0 10px 0;
    }
    .smart_gallery_album_count_photos,
    .smart_gallery_album_updated {
        color: #777777;
    }
    .smart_gallery_album_descr {
        /*color: black;*/
    }
    .smart_gallery_image {
        position: relative;
        float: left;
        display: table-cell;
        vertical-align: middle;
        margin: 10px;
        width: 200px;
        /*height: 200px;*/
        background-color: #f1f1f1;
        text-align: center;
    }
    .smart_gallery_table {
        width: 100%;
    }
    .smart_gallery_table td {
        vertical-align: top;
    }
</style>

{% for album in albums %}
<table class="smart_gallery_table smart_gallery_album">
    <tr>
        <td style="width: 200px;">
            <a href="{{ path('smart_module.gallery.album', {'id': album.id}) }}" class="smart_gallery_image">
                {{ smart_media_img(album.coverImageId, '200_200') }}
            </a>
        </td>
        <td>
            <a class="smart_gallery_album_title" href="{{ path('smart_module.gallery.album', {'id': album.id}) }}">{{ album.title }}</a>
            <p class="smart_gallery_album_count_photos">{{ album.photosCount }} {{ 'Photos'|trans }}</p>
            <p class="smart_gallery_album_descr">{{ album.description }}</p>
            {#<p class="smart_gallery_album_updated">{{ 'Updated'|trans }} {{ album.updatedAt|date('Y-m-d') }}</p>#}
            <p class="smart_gallery_album_updated">{{ 'Updated'|trans }} {{ album.updatedAt|localizeddate }}</p>
        </td>
    </tr>
</table>
{% endfor %}
