
{% set lightbox = felib_use('jquery-colorbox') %}

<style type="text/css" media="screen">
    .smart_gallery_image {
        position: relative;
        float: left;
        display: table-cell;
        vertical-align: middle;
        margin: 8px;
        width: 200px;
        height: 200px;
        background-color: #f1f1f1;
        text-align: center;
    }
</style>

{% for photo in photos %}
    <a class="smart_gallery" href="{{ smart_media(photo.imageId) }}" name="image_{{ photo.id }}" title="{{ photo.descr }}">
        <div class="smart_gallery_image" id="smart_gallery_image_{{ photo.id }}">
            {{ smart_media_img(photo.imageId, '200-200') }}
        </div>
    </a>
{% endfor %}

<script>
    $(document).ready(function(){
        $('.smart_gallery').colorbox({
            rel: 'smart_gallery',
            scalePhotos: true,
            scrolling: true,
            fadeOut: 100,
            current: "Фото {current} из {total}",
            initialWidth: 200,
            maxHeight: '95%',
            maxWidth: '95%'
        });
    });
</script>
