{% extends '@SimpleNewsModule/Admin/index.html.twig' %}

{% block title %}Редактирование / {{ parent() }}{% endblock %}

{% block content %}

    {% if itemPath %}
        <a class="btn btn-default btn-small btn-sm" href="{{ itemPath }}" title="{{ app.request.host ~ itemPath }}" style="float: right;">
            <i class="icon-home"></i><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Перейти на страницу новости на сайте
        </a>
    {% endif %}

    <ul class="nav nav-pills" id="myTab">
        <li><a href="{{ path('smart_module.news_admin') }}">Список всех новостей</a></li>
        <li><a href="{{ path('smart_module.news_admin.create') }}">Написать новость</a></li>
        <li class="active"><a>Редактирование новости</a></li>
    </ul>

    <div class="box box-primary">
        <div class="box-header with-border">
            {% include '@SimpleNewsModule/Admin/_form.html.twig' with {'form': form} %}
        </div>
    </div>

{% endblock content %}
