{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}Новости / {{ parent() }}{% endblock %}

{% block content %}

    {% if folderPath %}
        <a class="btn btn-default btn-small btn-sm" href="{{ folderPath }}" title="{{ app.request.host ~ folderPath }}" style="float: right;">
            <i class="icon-home"></i><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Перейти на страницу новостей на сайте
        </a>
    {% endif %}

    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a>Список всех новостей</a></li>
        <li><a href="{{ path('smart_module.news_admin.create') }}">Написать новость</a></li>
    </ul>

<div class="box box-primary">
    <div class="box-header with-border">

    <div class="tab-content">
        <div class="tab-pane active" id="all">
            <table class="table table-bordered table-hover">
                <thead><tr>
                    <th>id</th>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Annotation'|trans }}</th>
                    <th>{{ 'Publish date'|trans }}</th>
                    <th>{{ 'Created'|trans }}</th>
                </tr></thead>
                <tbody>
                {% for item in news %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td><a href="{{ path('smart_module.news_admin.edit', {'id': item.id}) }}" {% if item.isDisabled %} style="text-decoration: line-through;"{% endif %}>{{ item.title }}</a></td>
                        <td>{{ item.annotation }}</td>
                        <td>{{ item.publishDate|localizeddate('long') }}</td>
                        <td>{{ item.createdAt|localizeddate('long') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    </div>
</div>
{% endblock content %}
