{% extends '@Catalog2Module/Admin/repository.html.twig' %}

{% block title %}{{ 'Properties group create'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h2>{{ 'Properties group create'|trans }}</h2>

    <a href="{{ path('smart_module.catalog2_repository_admin', {'repository': repository.name}) }}">
        &laquo; назад к репозиторию &laquo;{{ repository.title }}&raquo;
    </a>

    {{ form(form, {'attr': {'class': 'well form-horizontal'}}) }}

{% endblock content %}
