{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Edit'|trans }} &laquo;{{ form.vars.data.title }}&raquo; Unicat / {{ parent() }}{% endblock %}

{% block content %}

    <h3>{{ 'Repository edit'|trans }}: &laquo;{{ form.vars.data.title }}&raquo;</h3>

    {{ form(form, {'attr':{'class':'form-horizontal'}}) }}

{% endblock content %}
