{% extends 'BlogModule:Admin:layout.html.twig' %}

{% block smart_blog_content %}

    <div class="span3">
        {{ form(form, {'attr': {'class': 'well'} }) }}
    </div>

    <div class="span8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Slug'|trans }}</th>
                <th>{{ 'Weight'|trans }}</th>
                <th>{{ 'Created at'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagerfanta.currentPageResults %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>
                        <a href="{{ path('smart_blog_admin_tag_edit', {'id': tag.id}) }}" title="{{ 'Edit'|trans }}">
                            {{ tag.title }}
                        </a>
                    </td>
                    <td>{{ tag.slug }}</td>
                    <td>{{ tag.weight }}</td>
                    <td>{{ tag.createdAt | localizeddate() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>{{ 'Total tags'|trans }}: {{ pagerfanta.count }}</p>

        {% block smart_blog_tags_paginator %}
            {% if pagerfanta.haveToPaginate %}
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {
                        'css_container_class': 'pagination pagination-centered',
                    })
                }}
            {% endif %}
        {% endblock smart_blog_tags_paginator %}
    </div>

{% endblock smart_blog_content %}
