{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{% if title %}{{ title|trans }} / {% endif %}&laquo;{{ web_form.title }}&raquo; / {{ 'WebForm'|trans }} / {{ parent() }}
{% endblock %}

{% block nav %}

    {#{% set __selected_inheritance = app.request.attributes.get('__selected_inheritance') %}#}
    {#{% set __si = app.request.attributes.set('__selected_inheritance', false) %}#}

    {% if nodePath %}
        <a class="btn btn-default btn-small btn-sm" href="{{ nodePath }}" title="{{ app.request.host ~ nodePath }}" style="float: right; margin-top: 4px;">
            <i class="icon-home"></i><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Перейти на страницу веб-формы на сайте
        </a>
    {% endif %}

    {% set configurationMenu = knp_menu_get('WebFormModule:AdminMenu:manage', [], {
        'web_form': web_form,
    }) %}

    {{ knp_menu_render(configurationMenu, {
        'currentClass': 'active',
        'clear_matcher': false,
        'template': 'WebFormModule:Menu:knp_menu.html.twig',
    }) }}

    {#{% set __si = app.request.attributes.set('__selected_inheritance', __selected_inheritance) %}#}

{% endblock nav %}
