{% extends '@WebFormModule/Admin/_layout.html.twig' %}

{#
{% block styles %}
    {{ parent() }}
    <style media="all" type="text/css">
        .message_row {
            cursor: pointer;
        }
    </style>
{% endblock %}
#}

{% block content %}

    <p>Всего: <b>{{ pagerfanta.count }}</b></p>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'Briefly'|trans }}</th>
            <th>{{ 'Comment'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in pagerfanta %}
            <tr class="message_row">
                <td style="white-space: nowrap; width: 1%;"><a href="{{ path('web_form.admin_edit_message', {'id': item.id, 'name': web_form.name}) }}">{{ item.createdAt|date() }}</a></td>
                <td><a href="{{ path('web_form.admin_edit_message', {'id': item.id, 'name': web_form.name}) }}">{{ item.briefly }}</a></td>
                <td>{{ item.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if pagerfanta.haveToPaginate %}
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {'css_container_class': 'pagination pagination-centered'}) }}
    {% endif %}

{% endblock content %}
