{% extends '@CMS/AdminUser/index.html.twig' %}

{% block title %}{{ 'Edit user'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <h3>Редактирование пользователя: #{{ form.vars.value.id }}</h3>

    <form action="" {{ form_enctype(form) }} method="POST" class="form-horizontal">
        {{ form_widget(form) }}

        <div class="control-group">
            <div class="controls">
                <button type="submit" name="update" class="btn btn-success"><i class="icon-ok icon-white"></i><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ 'Update'|trans }}</button>
                <a class="btn btn-default cms-cancel" href="{{ path('cms_admin_user') }}">{{ 'Cancel'|trans }}</a>
            </div>
        </div>
    </form>

    </div>
</div>

{% endblock content %}
