{% extends '@CMS/AdminUser/index.html.twig' %}

{% block title %}{{ 'Edit user'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h4>Редактирование пользователя</h4>

    <form action="" {{ form_enctype(form) }} method="POST" class="form-horizontal">
        {{ form_widget(form) }}

        <div class="control-group">
            <div class="controls">
                <button type="submit" name="update" class="btn btn-success"><i class="icon-ok icon-white"></i> {{ 'Update'|trans }}</button>
                <a class="btn cmf-cancel" href="{{ path('cms_admin_user') }}">{{ 'Cancel'|trans }}</a>
            </div>
        </div>
    </form>

{% endblock content %}
