{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Users'|trans }} / {{ parent() }}{% endblock %}

{% block nav %}
    {{ knp_menu_render('CMSBundle:AdminMenu:user', { 'currentClass': 'active', 'clear_matcher': true })}}
{% endblock nav %}

{% block content %}

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th>#</th>
            <th>{{ 'Username'|trans }}</th>
            <th>{{ 'Email'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            <th>{{ 'Roles'|trans }}</th>
            <th>{{ 'Registred'|trans }}</th>
            <th>{{ 'Last login'|trans }}</th>
        </tr></thead>
        <tbody>
        {% set users_count = 1 %}
        {% for user in users %}
            <tr>
                <td>{{ users_count }}{% set users_count = users_count + 1 %}</td>
                <td><a href="{{ path('cms_admin_user_edit', {'id': user.id}) }}">{{ user.username }}</a></td>
                <td><a href="{{ path('cms_admin_user_edit', {'id': user.id}) }}">{{ user.email }}</a></td>
                <td>
                    {% if user.enabled %}
                        Активен
                    {% else %}
                        <span class="label label-important">Не Активен</span>
                    {% endif %}
                </td>
                <td>
                    <ul>
                    {% for role in user.roles %}
                        {% if role != 'ROLE_USER' %}
                            <li>{{ role }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
                <td>{{ user.createdAt|localizeddate() }}</td>
                <td>{{ user.lastLogin|localizeddate() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
