{% extends '@CMS/AdminUser/roles.html.twig' %}

{% block title %}{{ 'Role edit'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <h4>{{ 'Role edit'|trans }}</h4>

    <form action="" {{ form_enctype(form) }} method="POST" class="form-horizontal">
        {{ form_widget(form) }}

        <div class="control-group">
            <div class="controls">
                <button type="submit" name="update" class="btn btn-success"><i class="icon-ok icon-white"></i><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ 'Update'|trans }}</button>
                <a class="btn cms-cancel" href="{{ path('cms_admin_user_roles') }}">{{ 'Cancel'|trans }}</a>
            </div>
        </div>
    </form>

    </div>
</div>

{% endblock content %}
