{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Baskets'|trans }} / {{ parent() }}{% endblock %}

{% set page_header = 'Baskets'|trans %}
{% set page_description = 'e-shop'|trans %}

{% block content %}

    <h4>Активные корзины пользователей</h4>

<div class="box box-primary">
    <div class="box-header with-border">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'Товары'|trans }}</th>
                <th>{{ 'Сумма'|trans }}</th>
                <th>{{ 'User'|trans }}</th>
                <th>{{ 'Created at'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in pagerfanta %} {# .currentPageResults #}
                <tr>
                    <td><a href="{{ path('smart_module.shop.admin.basket.show', {'id': entity.id}) }}">{{ entity.id }}</a></td>
                    <td>
                        <ol>
                            {% for item in entity.orderitems %}
                                <li>{{ item.title }} ({{ item.quantity }} шт по {{ item.price }} руб.)</li>
                            {% endfor %}
                        </ol>
                    </td>
                    <td>{{ entity.amount }}</td>
                    <td>{{ entity.user }}</td>
                    <td>{{ entity.createdAt | localizeddate('medium') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if pagerfanta.haveToPaginate %}
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated', {
                    'css_container_class': 'pagination pagination-centered',
                })
            }}
        {% endif %}

    </div>
</div>

{% endblock content %}
