{% extends item.editor ? '@TexterModule/Admin/_tinymce.html.twig' : '@TexterModule/Admin/_codemirror.html.twig' %}

{% block title %}Редактирование id: {{ item.id }} / Текстер / {{ parent() }}{% endblock %}

{% block styles %}
    {{ parent() }}
    <style media="all" type="text/css">
        body {
            margin-bottom: 0px;
        }
    </style>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#text">Редактор</a></li>
        <li><a href="#meta">Мета-данные</a></li>
        {#<li><a href="#preview">Предпросмотр</a></li>#}
        {#<li><a href="#text_en">Текст (English)</a></li>#}
        {#<li><a href="#history">История правок</a></li>#}
    </ul>

    <form action="" method="post">
    <input type="hidden" name="_node_id" value="{{ _node_id }}" />

    <div class="tab-content">
        <div class="tab-pane active" id="text">
            <textarea id="textarea_ru" class="tinymce focused wysiwyg" data-theme="advanced" name="texter[text]" style="width: 96%; height: 780px;" rows="40">{{ item.text|raw }}</textarea>
        </div>
        {#<div class="tab-pane" id="text_en">
            <textarea class="tinymce focused" name="text" style="width: 96%; height: 380px;" rows="20" id="textarea_en">Тут будет текст на енг.</textarea>
        </div>#}
        <div class="tab-pane" id="meta">
            <div class="row">
                <div class="span2" style="text-align: right;"><label for="keywords">Keywords</label></div>
                <div class="span10"><input type="text" name="texter[meta][keywords]" id="keywords" value="{% if item.meta.keywords is defined %}{{ item.meta.keywords }}{% endif %}" class="focused input-block-level" /></div>
            </div>
            <div class="row">
                <div class="span2" style="text-align: right;"><label for="description">Description</label></div>
                <div class="span10"><input type="text" name="texter[meta][description]" id="description" value="{% if item.meta.description is defined %}{{ item.meta.description }}{% endif %}" class="input-block-level" /></div>
            </div>
        </div>
        <div class="tab-pane" id="preview">@todo preview</div>
        {#<div class="tab-pane" id="history">@todo history</div>#}
    </div>

    <p class="text-center" style="margin-top: 8px;">
        <button class="btn btn-success" type="submit" name="submit" value="update">Сохранить</button>

        {% if app.request.query.has('redirect_to') %}
            <a class="btn cmf-cancel" href="{{ app.request.query.get('redirect_to') }}">Отменить</a>
        {% else %}
            <a class="btn cmf-cancel" href="{{ path('smart_module.texter.admin') }}">Отменить</a>
        {% endif %}
    </p>

    </form>
{% endblock content %}
