{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}Текстер / {{ parent() }}{% endblock %}

{% block content %}
    <div class="tab-content">
        <div class="tab-pane active" id="all">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th>{{ 'Text'|trans }}</th>
                    <th>{{ 'Path'|trans }}</th>
                    <th>{{ 'Action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{{ path('smart_module.texter.admin.edit',    {'id': item.id}) }}">{{ item.id }}</a></td>
                        <td><a href="{{ path('smart_module.texter.admin.edit',    {'id': item.id}) }}">{{ item.announce }}</a></td>
                        <td>{% if item._folderPath %}
                                <small>
                                    <a href="{{ item._folderPath }}" title="Перейти на страницу с текстером">{{ item._folderPath }}</a>
                                </small>
                            {% else %}
                                <span class="label label-important" title="Этот текст нигде не используется">{{ 'No'|trans }}</span>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('smart_module.texter.admin.history', {'id': item.id}) }}" title="История"><i class="icon-time"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
