{% extends '@CMS/Admin/module.html.twig' %}

{% block html_head_title %}Текстер / {{ parent() }}{% endblock html_head_title %}

{% block content %}
    <div class="tab-content">
        <div class="tab-pane active" id="all">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th>{{ 'Text'|trans }}</th>
                    <th>{{ 'Action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{{ path('smart_texter_admin_edit', {'id': item.id}) }}">{{ item.id }}</a></td>
                        <td><a href="{{ path('smart_texter_admin_edit', {'id': item.id}) }}">{{ item.announce }}</a></td>
                        <td>
                            <a href="{{ path('smart_texter_admin_history', {'id': item.id}) }}" title="История"><i class="icon-time"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock content %}
