{% extends 'MenuModule:Admin:index.html.twig' %}

{% block html_head_title %}Свойства: {{ group.name }} / {{ parent() }}{% endblock html_head_title %}

{% block content %}
    <ul class="nav nav-pills" id="myTab">
        <li><a href="{{ path('smart_menu_admin') }}">Список всех групп меню</a></li>
        <li><a href="{{ path('smart_menu_admin_group', {'group_id': group.id }) }}">Редактирование группы меню</a></li>
        <li class="active"><a href="{{ path('smart_menu_admin_group_edit', {'group_id': group.id }) }}">Свойства группы меню</a></li>
    </ul>

    <div class="well well-small">
        <h4>Свойства группы</h4>

        <form action="{{ path('smart_menu_admin_group_edit', {'group_id': group.id }) }}" {{ form_enctype(form) }} method="post" class="form-horizontal">
            {{ form_widget(form) }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" name="update" class="btn btn-success"><i class="icon-ok icon-white"></i> {{ 'Save'|trans }}</button>
                    <button type="submit" name="delete" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить группу меню?')"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</button>
                    <a class="btn" href="{{ path('smart_menu_admin_group', {'group_id': group.id }) }}"> {{ 'Cancel'|trans }}</a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
