{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Menu'|trans }} / {{ parent() }}{% endblock %}

{% set page_header = 'Menu'|trans %}
{% set page_description = 'Module'|trans %}

{% block content %}
    <ul class="nav nav-pills" id="myTab">
        <li class="active"><a>Список всех меню</a></li>
    </ul>

<div class="box box-primary">
    <div class="box-header with-border">

        <div class="row">
            <div class="col-md-8">

        <table class="table table-bordered table-hover">
            <thead><tr>
                <th>id</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Position'|trans }}</th>
                <th>{{ 'Items count'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr></thead>
            <tbody>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.id }}</td>
                    <td><a href="{{ path('smart_module.menu.admin_menu', {'menu_id': menu.id}) }}">{{ menu.name }}</a></td>
                    <td>{{ menu.description }}</td>
                    <td>{{ menu.position}}</td>
                    <td>{{ menu.items.count }}</td>
                    <td><a href="{{ path('smart_module.menu.admin_menu_edit', {'menu_id': menu.id}) }}">Свойства меню</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>

            <div class="col-md-4">
                <h3>Создать новое меню</h3>

                <form action="{{ path('smart_module.menu.admin') }}" {{ form_enctype(form) }} method="post" class="form-vertical well">
                    {{ form_widget(form) }}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" name="create" class="btn btn-success"><i class="icon-plus icon-white"></i><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'Add menu'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>


{% endblock content %}
