{% extends '@MenuModule/Admin/index.html.twig' %}

{% block title %}{{ menu.name }} / {{ parent() }}{% endblock %}

{% block content %}
    <ul class="nav nav-pills" id="myTab">
        <li><a href="{{ path('smart_module.menu.admin') }}">Список всех меню</a></li>
        <li class="active"><a href="{{ path('smart_module.menu.admin_menu', {'menu_id': menu.id }) }}">Редактирование меню</a></li>
        <li><a href="{{ path('smart_module.menu.admin_menu_edit', {'menu_id': menu.id }) }}">Свойства меню</a></li>
    </ul>

<div class="box box-primary">
    <div class="box-header with-border">

        <div class="row">
            <div class="col-md-6">
                <h3>Пункты меню &laquo;{{ menu.name }}&raquo;</h3>

                {% set menuItems = knp_menu_get('MenuModule:MenuBuilder:full', [], {
                    'menu': menu,
                    'is_admin': true,
                }) %}

                {{ knp_menu_render(menuItems, {'currentAsLink': true, 'currentClass': 'active', 'compressed': true }) }}
            </div>
            <div class="col-md-6">
                <h3>Добавить пункт в меню &laquo;{{ menu.name }}&raquo;</h3>

                <form action="{{ path('smart_module.menu.admin_menu', {'menu_id': menu.id }) }}" {{ form_enctype(form) }} method="post" class="form-horizontal well">
                    {{ form_widget(form) }}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" name="create_item" class="btn btn-success"><i class="icon-plus icon-white"></i><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'Add'|trans }}</button>
                            {#<button type="submit" name="update" class="btn btn-primary"><i class="icon-ok icon-white"></i> {{ 'Save'|trans }}</button>#}
                            {#<a class="btn" href="{{ path('smart_menu_admin') }}"> {{ 'Cancel'|trans }}</a>#}
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

{% endblock content %}
