{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Appearance'|trans }} / {{ parent() }}{% endblock %}

{% set page_header = 'Appearance'|trans %}
{% set page_description = 'Edit templates and styles'|trans %}

{% block content %}

<div class="box box-success">
    <div class="box-header with-border">

    <h3>{{ 'Templates'|trans }} <small>{{ templates_path }}</small></h3>
    <ul class="nav nav-pills">
        {% for template in templates %}
            <li><a href="{{ path('cms_admin_appearance_template', {'name': template}) }}">{{ template }}</a></li>
        {% endfor %}
    </ul>

    <h3>{{ 'Styles'|trans }} <small>{{ styles_path }}</small></h3>
    <ul class="nav nav-pills">
        {% for style in styles %}
            <li><a href="{{ path('cms_admin_appearance_style', {'name': style}) }}">{{ style }}</a></li>
        {% endfor %}
    </ul>

    </div>
</div>

{% endblock content %}
