
{% extends '@Html/base.html.twig' %}

{% block title %}{{ cms_html_title({
    'site_full_name': 'Welcome to Smart Core CMS (based on Symfony2 Framework)',
})
}}{% endblock %}

{% if is_setting('cms', 'twitter_bootstrap_version', 3) %}
    {% set felib = felib_use('bootstrap', '3.3.4') %}
{% else %}
    {% set felib = felib_use('bootstrap', '2.3.2') %}
{% endif %}

{% block styles %}
    {{ parent() }}
    <style type="text/css">
        {% if is_setting('cms', 'twitter_bootstrap_version', 3) %}
            @import url({{ asset('bundles/cms/css/bootstrap-theme-smart-core.css') }});
        {% else %}
            @import url({{ asset('bundles/felib/bootstrap/2.3.2/css/bootstrap-responsive.css') }});
            {#@import url({{ asset('bundles/felib/bootstrap/2.3.2/css/bootstrap-responsive.min.css') }});#}
        {% endif %}

        body {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .hero-unit {
            padding: 60px;
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 200;
            line-height: 30px;
            color: inherit;
            background-color: #eeeeee;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }
        .hero-unit h1 {
            margin-bottom: 0;
            font-size: 60px;
            line-height: 1;
            letter-spacing: -1px;
            color: inherit;
        }

        .hero-unit li {
            line-height: 30px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="hero-unit">
            <h1>Welcome to Smart Core CMS!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>
    </div>
{% endblock body %}
