
{% if childenCategories|length %}
    <h4>Вложенные категории:</h4>

    <ul>
        {% for category in childenCategories %}
            <li><a href="{{ path('unicat.category', {'slug': category.slugFull}) }}/">{{ category }}</a></li>
        {% endfor %}
    </ul>
    <hr />
{% endif %}

<p>Всего записей: <b>{{ pagerfanta.count }}</b>
    {% if pagerfanta.haveToPaginate %} Страница: {{ pagerfanta.currentPage }} Записей на страницу: {{ pagerfanta.maxPerPage }}{% endif %}
</p>

{% for item in pagerfanta %}

    {% include 'UnicatModule::item.html.twig' %}

{% endfor %}

{% if pagerfanta.haveToPaginate %}
    Страница: {{ pagerfanta.currentPage }} Записей на страницу: {{ pagerfanta.maxPerPage }}

    {% if slug %}
        {% set pagerfantaRouteName = 'unicat.category' %}
    {% else %}
        {% set pagerfantaRouteName = 'unicat.category_root' %}
    {% endif %}
    {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {
        'routeName': pagerfantaRouteName,
        'routeParams': {
            'slug': slug,
            '_basePath': app.request.attributes.get('_route_params')['_basePath']
        },
        'css_container_class': 'pagination pagination-centered',
    })
    }}
{% endif %}
