
{% if childenCategories|length %}
    <h4>Вложенные категории:</h4>

    <ul>
        {% for category in childenCategories %}
            <li><a href="{{ path('unicat.category', {'slug': category.slugFull}) }}/">{{ category }}</a></li>
        {% endfor %}
    </ul>
    <hr />
{% endif %}

{{ dump(category) }}

{% if items|length %}
{% for item in items %}

    {#{% if  %}#}

    {% for item_category in item.categories %}
        {% if configuration.defualtStructure == item_category.structure %}
            <h1><a href="{{ path('unicat.item_in_structure', {'structureSlug': item_category.slugFull, 'itemSlug': item.slug}) }}">{{ item.attribute('title') }}</a></h1>
        {% else %}
            <h1><a href="{{ path('unicat.item', {'itemSlug': item.slug}) }}">{{ item.attribute('title') }}</a></h1>
        {% endif %}
    {% endfor %}

    {% if item.attribute('description') %} <p>Описание: {{ item.attribute('description') }}</p> {% endif %}

    <p>Наличие: {% if item.attribute('in_sight') %} есть {% else %} нет {% endif %} </p>

    {% if item.attribute('price') %}
        <p>Цена: {{ item.attribute('price') }}</p>
    {% endif %}

    {% if item.attribute('image') %}
        <p>{{ smart_media_img(item.attribute('image'), '300-300') }}</p>
    {% endif %}

    <hr />
{% endfor %}
{% endif %}
