
{% if childenCategories|length %}
    <h4>Вложенные категории:</h4>

    <ul>
        {% for category in childenCategories %}
            <li><a href="{{ path('unicat.category', {'slug': category.slugFull}) }}/">{{ category }}</a></li>
        {% endfor %}
    </ul>
    <hr />
{% endif %}

{% if pagerfanta|length %}
{% for item in pagerfanta %}

    {% set is_found_default_structure = false %}
    {% for category in item.categories %}
        {% if configuration.defaultStructure.id == category.structure.id and is_found_default_structure == false %}
            <h1><a href="{{ path('unicat.item_in_structure', {'structureSlug': category.slugFull, 'itemSlug': item.slug}) }}">{{ item.attribute('title') }}</a></h1>
            {% set is_found_default_structure = true %}
        {% endif %}
    {% endfor %}
    {% if is_found_default_structure == false %}
        <h1><a href="{{ path('unicat.item', {'itemSlug': item.slug}) }}">{{ item.attribute('title') }}</a></h1>
    {% endif %}

    {% if item.attribute('description') %} <p>Описание: {{ item.attribute('description') }}</p> {% endif %}

    <p>Наличие: {% if item.attribute('in_sight') %} есть {% else %} нет {% endif %} </p>

    {% if item.attribute('price') %}
        <p>Цена: {{ item.attribute('price') }}</p>
    {% endif %}

    {% if item.attribute('image') %}
        <p>{{ smart_media_img(item.attribute('image'), '300-300') }}</p>
    {% endif %}

    <hr />
{% endfor %}
{% endif %}


{% if slug %}
    {% set pagerfantaRouteName = 'unicat.category' %}
{% else %}
    {% set pagerfantaRouteName = 'unicat.category_root' %}
{% endif %}
{% if pagerfanta.haveToPaginate %}
    {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {
        'routeName': pagerfantaRouteName,
        'routeParams': {
            'slug': slug,
            '_basePath': app.request.attributes.get('_route_params')['_basePath']
        },
        'css_container_class': 'pagination pagination-centered',
    })
    }}
{% endif %}
