{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Catalog'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h2>{{ 'Unicat repositories'|trans }}</h2>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Entities namespace'|trans }}</th>
            <th>{{ 'Created at'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for item in repositories %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('smart_module.catalog_repository_admin', {'repository': item.name}) }}">{{ item.title }}</a></td>
                <td><a href="{{ path('smart_module.catalog_repository_admin', {'repository': item.name}) }}">{{ item.name }}</a></td>
                <td>{{ item.entitiesNamespace }}</td>
                <td>{{ item.createdAt|localizeddate('long') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    @todo создание и редактирование репозиториев.

{% endblock content %}
