{% extends '@CMS/Admin/module.html.twig' %}

{% block html_head_title %} {{ 'Edit record'|trans }} &laquo;{{ form.vars.data.slug }}&raquo; / &laquo;{{ repository.title }}&raquo; Unicat / {{ parent() }}{% endblock html_head_title %}

{% block content %}

    <h2>{{ 'Edit record'|trans }} &laquo;{{ form.vars.data.slug }}&raquo;</h2>

    <p><a href="{{ path('smart_module.catalog_repository_admin', {'repository': repository.name}) }}">
        &laquo; назад к репозиторию &laquo;{{ repository.title }}&raquo;
    </a></p>

    <div class="well">
        {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <fieldset>
            <div class="tabbable">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#base-settings" data-toggle="tab">{{ 'Base settings'|trans }}</a></li>
                    <li><a href="#meta-tags" data-toggle="tab">{{ 'Meta tags'|trans }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="meta-tags">
                        {{ form_widget(form.meta) }}
                    </div>
                    <div class="tab-pane active" id="base-settings">
                        {{ form_widget(form) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        {{ form_rest(form) }}
                    </div>
                </div>
            </div>
        </fieldset>
        {{ form_end(form) }}
    </div>

    {{ tinymce_init() }}
    {{ elfinder_tinymce_init() }}

{% endblock content %}
