{% extends '@CMS/Admin/module.html.twig' %}

{% block html_head_title %}&laquo;{{ repository.title }}&raquo; Unicat / {{ parent() }}{% endblock html_head_title %}

{% block content %}

    <h2>{{ 'Edit record'|trans }} &laquo;{{ form.vars.data.slug }}&raquo;</h2>

    <p><a href="{{ path('smart_module.catalog_repository_admin', {'repository': repository.name}) }}">
        &laquo; назад к репозиторию &laquo;{{ repository.title }}&raquo;
    </a></p>

    <div class="well">
        {{ form(form, {'attr': {'class': 'form-horizontal'}}) }}
    </div>

{% endblock content %}
