{% extends '@CMS/Admin/module.html.twig' %}

{% block html_head_title %}
    {{ 'Properties group'|trans }} &laquo;{{ group.title }}&raquo;
    / &laquo;{{ repository.title }}&raquo; Unicat
    / {{ parent() }}
{% endblock html_head_title %}

{% block content %}

    <h2>{{ 'Properties group'|trans }} &laquo;{{ group.title }}&raquo;</h2>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th>{{ 'Position'|trans }}</th>
            <th>{{ 'Is enabled'|trans }}</th>
            <th>{{ 'Is required'|trans }}</th>
            <th>{{ 'Show in'|trans }}</th>
            <th>{{ 'Is dedicated table'|trans }}</th>
            <th>{{ 'Created at'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for item in properties %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('smart_module.catalog_property_admin', {
                        'repository': repository.name,
                        'group_id': item.group.id,
                        'id': item.id,
                    }) }}">{{ item.title }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.position }}</td>
                <td>{{ item.isEnabled }}</td>
                <td>{{ item.isRequired }}</td>
                <td>
                    {% if item.showInAdmin %}admin&nbsp;{% endif %}
                    {% if item.showInList  %}list&nbsp;{% endif %}
                    {% if item.showInView  %}view&nbsp;{% endif %}
                </td>
                <td>{{ item.isDedicatedTable }}</td>
                <td>{{ item.createdAt|localizeddate('long') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form(form, {'attr': {'class': 'well form-horizontal'}}) }}

    <a href="{{ path('smart_module.catalog_repository_admin', {'repository': repository.name}) }}">
        &laquo; назад к репозиторию &laquo;{{ repository.title }}&raquo;
    </a>

{% endblock content %}
