{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Edit'|trans }}: {{ album.title }} / {{ 'Gallery'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <a href="{{ path('smart_module.gallery.admin_gallery', {'id': album.gallery.id }) }}" style="float: right; margin-top: 14px;"> &laquo; Назад в галерею: {{ album.gallery }}</a>

    <h3>{{ 'Edit album'|trans }}: {{ album.title }}</h3>

    <div class="well">
        {{ form(form, {'attr': {'class': 'form-horizontal'}} ) }}
    </div>

{% endblock content %}
