{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Edit'|trans }}: {{ gallery.title }} / {{ 'Gallery'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h2>{{ 'Edit'|trans }}: {{ gallery.title }}</h2>

    {{ form(form, {'attr': {'class': 'form-horizontal well'}} ) }}

{% endblock content %}
