{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Galleries'|trans }} / {{ parent() }}{% endblock %}

{% set page_header = 'Galleries'|trans %}
{% set page_description = 'Module'|trans %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

        <div class="row">
            <div class="col-md-8">
                <h3>{{ 'All'|trans }} {{ 'Galleries'|trans }}</h3>

                <table class="table table-bordered table-hover">
                    <thead><tr>
                        <th style="width: 1%;">id</th>
                        <th>{{ 'Title'|trans }}</th>
                        <th>{{ 'Albums'|trans }}</th>
                        <th>{{ 'Media collection'|trans }}</th>
                        <th>{{ 'Create datetime'|trans }}</th>
                    </tr></thead>
                    <tbody>
                    {% for gallery in galleries %}
                        <tr>
                            <td>{{ gallery.id }}</td>
                            <td><a href="{{ path('smart_module.gallery.admin_gallery', {'id': gallery.id }) }}">{{ gallery.title }}</a>

                                <a href="{{ path('smart_module.gallery.admin_gallery_edit', {'id': gallery.id }) }}" style="float: right;">
                                    <i class="icon-edit" title="{{ 'Edit'|trans }}"></i><span class="glyphicon glyphicon-edit" aria-hidden="true" title="{{ 'Edit'|trans }}"></span>
                                </a>
                            </td>
                            <td>{{ gallery.albums|length }}</td>
                            <td>{{ gallery.mediaCollection }}</td>
                            <td>{{ gallery.createdAt|localizeddate }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <h3>Создать галерею</h3>

                {{ form(form, {'attr': {'class': 'form-vertical well'}} ) }}
            </div>

        </div>
    </div>
</div>


{% endblock content %}
