{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Edit'|trans }}: {{ gallery.title }} / {{ 'Gallery'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <h2>{{ 'Photo'|trans }}</h2>

    {{ smart_media_img(photo.imageId, '200_200') }}

    <p>
        <a href="{{ path('smart_module.gallery.admin_photo_make_cover', {'id': photo.id, 'album_id': photo.album.id, 'gallery_id': photo.album.gallery.id}) }}">
            Сделать обложкой альбома
        </a>
    </p>

    {{ form(form, {'attr': {'class': 'form-vertical'}} ) }}

    </div>
</div>

{% endblock content %}
