{% extends 'BlogModuleBundle:Admin:layout.html.twig' %}

{% block title %} {{ 'Edit article'|trans }} / {{ parent() }} {% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

        <h3>{{ 'Edit article'|trans }}</h3>

    {{ form(form) }}

    {#{{ tinymce_init3() }}#}
    {#{{ elfinder_tinymce_init() }}#}

    {{ elfinder_tinymce_init4('tinymce4', {'width': 980, 'height': 430, 'title': 'Файловый менеджер' }) }}
    {{ tinymce_init() }}

    </div>
</div>

{% endblock content %}
