{% extends 'BlogModule:Admin:layout.html.twig' %}

{% block title %} {{ 'Edit article'|trans }} / {{ parent() }} {% endblock %}

{% block content %}

    <div class="well well-small">
        {{ form(form) }}
    </div>

    {{ tinymce_init3() }}
    {{ elfinder_tinymce_init() }}

{% endblock content %}
