{% extends 'BlogModule:Admin:layout.html.twig' %}

{% block html_head_title %} {{ 'Edit article'|trans }} / {{ parent() }} {% endblock html_head_title %}

{% block content %}

    <div class="well well-small">
        {{ form(form) }}
    </div>

    {{ tinymce_init() }}
    {{ elfinder_tinymce_init() }}

{% endblock content %}
