{% extends '@UnicatModule/Admin/_layout.html.twig' %}

{% block title %}{{ 'Edit attribute'|trans }} &laquo;{{ form.vars.data.title }}&raquo; / {{ parent() }}{% endblock %}

{% block content %}

    {% include '@UnicatModule/help/attr.html.twig' %}

    <h3>{{ 'Edit attribute'|trans }} &laquo;{{ form.vars.data.title }}&raquo;</h3>

    {{ form(form, {'attr': {'class': 'form-horizontal well'}}) }}

    <style type="text/css" media="screen">
        .ace_editor * {
            font-family: consolas, Courier, monospace;
            font-size: 14px;
        }
        #unicat_attribute_params_yaml, #ace_params_yaml {
            font-family: consolas, Courier, monospace;
            font-size: 14px;
            width: 100%;
            height: 200px;
        }
    </style>

    <script src="{{ asset('bundles/felib/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
        $('#unicat_attribute_params_yaml_control_group > .controls').append('<div id="ace_params_yaml" />');

        var editor = ace.edit("ace_params_yaml");
        var textarea = $('#unicat_attribute_params_yaml').hide();
        editor.setTheme("ace/theme/github");
        editor.getSession().setMode("ace/mode/yaml");
        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
            textarea.val(editor.getSession().getValue());
        });
    </script>

{% endblock content %}
