{% extends '@UnicatModule/Admin/_layout.html.twig' %}

{% block title %}{{ 'Attributes group'|trans }} &laquo;{{ group.title }}&raquo; / {{ parent() }}{% endblock %}

{% block content %}

    <h3>{{ 'Attributes group'|trans }} &laquo;{{ group.title }}&raquo;</h3>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th>{{ 'Position'|trans }}</th>
            <th>{{ 'Is enabled'|trans }}</th>
            <th>{{ 'Is required'|trans }}</th>
            <th>{{ 'Show in'|trans }}</th>
            <th>{{ 'Is dedicated table'|trans }}</th>
            <th>{{ 'Created at'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for item in attributes %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('unicat_admin.attribute', {
                        'configuration': configuration.name,
                        'group_id': item.group.id,
                        'id': item.id,
                    }) }}">{{ item.title }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.position }}</td>
                <td>{{ item.isEnabled }}</td>
                <td>{{ item.isRequired }}</td>
                <td>
                    {% if item.showInAdmin %}<span class="label label-important">admin</span>{% endif %}
                    {% if item.showInList  %}<span class="label label-info">list</span>{% endif %}
                    {% if item.showInView  %}<span class="label label-warning">view</span>{% endif %}
                </td>
                <td>{{ item.isDedicatedTable }}</td>
                <td>{{ item.createdAt|date() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form(form, {'attr': {'class': 'well form-horizontal'}}) }}

    <style type="text/css" media="screen">
        .ace_editor * {
            font-family: consolas, Courier, monospace;
            font-size: 14px;
        }
        #unicat_configuration_attribute_params_yaml, #ace_params_yaml {
            font-family: consolas, Courier, monospace;
            font-size: 14px;
            width: 100%;
            height: 140px;
        }
    </style>

    <script src="{{ asset('bundles/felib/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script>
        $('#unicat_configuration_attribute_params_yaml_control_group > .controls').append('<div id="ace_params_yaml" />');

        var editor = ace.edit("ace_params_yaml");
        var textarea = $('#unicat_configuration_attribute_params_yaml').hide();
        editor.setTheme("ace/theme/github");
        editor.getSession().setMode("ace/mode/yaml");
        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
            textarea.val(editor.getSession().getValue());
        });
    </script>

{% endblock content %}
