{% extends '@UnicatModule/Admin/_layout.html.twig' %}

{% block title %}{{ 'Attributes'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <a href="{{ path('unicat_admin.attributes_group_create', {'configuration': configuration.name}) }}" class="btn btn-success pull-right">
        <i class="icon-plus icon-white"></i> {{ 'Create attributes group'|trans }}
    </a>

    <h2>{{ 'Attributes groups'|trans }}</h2>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Created at'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for item in attributes_groups %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('unicat_admin.attributes', {'configuration': configuration.name, 'group_id': item.id}) }}">{{ item.title }}</a></td>
                <td><a href="{{ path('unicat_admin.attributes', {'configuration': configuration.name, 'group_id': item.id}) }}">{{ item.name }}</a></td>
                <td>{{ item.createdAt|date() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
