
{% block smart_module_simple_news_image_widget %}
    {% spaceless %}
    {% if data is not empty %}
        {{ smart_media_img(data, '100-100') }} {# @todo Сделать глобальный фильтр для предсросмотра картинок  #}
        <input type="checkbox" name="_delete_[{{ name }}]" id="{{ id ~ 'remove'}}" /><label for="{{ id ~ 'remove'}}" style="display: inline;"> Удалить</label>
        <br />
    {% endif %}

    {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock %}
