{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Files'|trans }} / {{ parent() }}{% endblock %}

{% set is_hide_footer = true %}

{% block styles %}
    {{ parent() }}
    <style media="all" type="text/css">
        body {
            margin-bottom: 0px;
        }
    </style>
{% endblock %}

{% block content %}
    {% if includeAssets %}
        {% include '@FMElfinder/Elfinder/helper/assets_css.html.twig' %}
        {% include '@FMElfinder/Elfinder/helper/assets_js.html.twig' %}
    {% endif %}

    <script type="text/javascript" charset="utf-8">
        $().ready(function() {
            var $f = $('#elfinder').elfinder({
                url : '{{ path('ef_connect') }}',
                lang : '{{ app.request.locale }}'
            });

            {% if fullscreen %}
            var $window = $(window);
            $window.resize(function(){
                var $win_height = $window.height() - 82; // 60
                if( $f.height() != $win_height ){
                    $f.height($win_height).resize();
                }
            });
            {% endif %}
        });
    </script>
    <div id="elfinder"></div>
{% endblock content %}
