{% extends '@CMS/Admin/_layout.html.twig' %}

{% block html_head_title %}{{ 'Install' }} / {{ 'Modules'|trans }} / {{ parent() }}{% endblock html_head_title %}

{% block content %}
    {{ parent() }}

    <ul class="nav nav-tabs" id="myTab">
        <li><a href="{{ path('cms_admin_module') }}">Все установленные модули</a></li>
        <li class="active"><a href="{{ path('cms_admin_module_install') }}">Установить модуль</a></li>
    </ul>

    {% if not filename %}
        <table class="table table-bordered table-hover">
            <thead><tr>
                <th>#</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr></thead>
            <tbody>
            {% set modules_count = 1 %}
            {% for module in modules %}
                <tr>
                    <td>{{ modules_count }}{% set modules_count = modules_count + 1 %}</td>
                    <td>{{ module.filename }}</td>
                    <td>
                        <a href="{{ path('cms_admin_module_install', {'filename': module.filename }) }}">Установить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div id="modules_install_status">
            <p>1) Распаковка архива <b>{{ filename }}</b>.</p>
            <p>2) Подключение модуля в /usr/modules.ini.</p>
            <p>3) Очистка кэша.</p>
            <p>4) Установка ресурсов (Resources/public)</p>
            <p>5) ... идёт обновление БД</p>
        </div>

        <a id="link_to_cms_admin_module" style="display: none;" href="{{ path('cms_admin_module') }}">Назад к списку модулей</a>

        <script type="text/javascript">
            $(function(){
                $.ajax({
                    type: 'POST',
                    url: '{{ path('cms_admin_module_install_updatedb') }}',
                    cache: false
                }).done(function(response) {
                    $('#modules_install_status').append('<p>' + response + '</p>');
                    $('#link_to_cms_admin_module').show();
                })
            });
        </script>



    {% endif %}

{% endblock content %}
