{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Modules'|trans }} / {{ parent() }}{% endblock %}

{% block content %}
    {{ parent() }}

    {#
    <ul class="nav nav-pills" id="myTab">
        <li class="active"><a>Все установленные модули</a></li>
        <li><a href="{{ path('cms_admin_module_install') }}">Установить модуль</a></li>
    </ul>
    #}

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">#</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Namespace'|trans }}</th>
        </tr></thead>
        <tbody>
        {% set modules_count = 1 %}
        {% for module in modules %}
            <tr>
                <td>{{ modules_count }}{% set modules_count = modules_count + 1 %}</td>
                <td>
                    {% if module.hasAdmin %}
                        <a href="{{ path('cms_admin_module') ~ module.shortName }}/">{{ module.shortName }}</a>
                    {% else %}
                        {{ module.shortName }}
                    {% endif %}
                </td>
                <td>{{ module.namespace }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
