{% extends '@CMS/Admin/structure.html.twig' %}

{% block html_head_title %}{{ 'Edit node'|trans }}: {{ node.id }} ({{ node.module }}) / {{ parent() }}{% endblock html_head_title %}

{% block content %}
    <div class="span9">
    {{ knp_menu_render('CMSBundle:AdminMenu:structureOnNodeEdit', {'currentClass': 'active'})  }}

    <h4>Модуль {{ node.module }}</h4>

    <div class="well well-small">
        <form action="" {{ form_enctype(form) }} method="POST" class="form-horizontal">
            {% if form_properties.count > 0 %}
                <ul class="nav nav-pills" id="nodeTab">
                    <li class="active"><a href="#node-properties">Параметры подключения модуля</a></li>
                    <li><a href="#node-common">Основные свойства ноды</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="node-properties">
                        {% form_theme form_properties '@CMS/Form/bootstrap_wide.html.twig' %}
                        {{ form_widget(form_properties) }}
                    </div>
                    <div class="tab-pane" id="node-common">
                        {{ form_widget(form) }}
                    </div>
                </div>
            {% else %}
                {{ form_widget(form) }}
            {% endif %}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" name="update" class="btn btn-success"><i class="icon-ok icon-white"></i> {{ 'Save'|trans }}</button>
                    {% if allow_delete %}
                        <button type="submit" name="delete" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить?')"><i class="icon-trash icon-white"></i> {{ 'Delete'|trans }}</button>
                    {% endif %}

                    {% if app.request.query.has('redirect_to') %}
                        <a class="btn cmf-cancel" href="{{ app.request.query.get('redirect_to') }}">Отменить</a>
                    {% else %}
                        <a class="btn cmf-cancel" href="{{ path('cms_admin_structure') }}">Отменить</a>
                    {% endif %}

                </div>
            </div>
        </form>
    </div>

    </div>
{% endblock content %}

{% block bottom_nav %}
    <div class="span3">
        {{ include('@CMS/Admin/_tree.html.twig') }}
    </div>
{% endblock bottom_nav %}

{% block body_js %}
    {{ parent() }}
    {% if form_properties.count > 0 %}
        <script>
            $('#nodeTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
                $(this.hash + ' input.focused').focus();
            });
        </script>
    {% endif %}
{% endblock body_js %}
