{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Reports'|trans }} / {{ parent() }}{% endblock %}

{% set page_header = 'Reports'|trans %}
{% set page_description = 'Информация о системе'|trans %}

{% block content %}

    <div class="nav-tabs-custom">
        <ul class="nav nav-pills">
            <li class="active"><a href="#system" data-toggle="tab">{{ 'System'|trans }}</a></li>
            {#<li><a href="#tab_2" data-toggle="tab">Tab 2</a></li>#}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="system">

                <table class="table table-striped table-hover">
                    <tr>
                        <th></th>
                        <th>{{ 'Value'|trans }}</th>
                        <th>{{ 'Required'|trans }}</th>
                        <th>{{ 'Recomended'|trans }}</th>
                    </tr>
                    {% for var in system.platform %}
                    <tr>
                        <td>{{ var.title }}</td>
                        <td>{{ var.value }}</td>
                        <td>{{ var.required }}</td>
                        <td>{{ var.recomended }}</td>
                    </tr>
                    {% endfor %}
                    {% for var in system.php %}
                        <tr>
                            <td>{{ var.title }}</td>
                            <td>{{ var.value }}</td>
                            <td>{{ var.required }}</td>
                            <td>{{ var.recomended }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {#{{ system|ld }}#}
            </div><!-- /.tab-pane -->
            {#
            <div class="tab-pane" id="tab_2">
                The European languages are members of the same family. Their separate existence is a myth.
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                in their grammar, their pronunciation and their most common words. Everyone realizes why a
                new common language would be desirable: one could refuse to pay expensive translators. To
                achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                words. If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages.
            </div><!-- /.tab-pane -->
            #}
        </div><!-- /.tab-content -->
    </div><!-- nav-tabs-custom -->

{% endblock content %}
