{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Settings'|trans }} / {{ parent() }}{% endblock %}

{% set page_header = 'Configuration'|trans %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <h3>Редактирование настройки: &laquo;{{ setting.bundle }}:{{ setting.name }}&raquo;</h3>

    {{ form_errors(form) }}

    {{ form(form, {'attr': {'class': 'form-horizontal well'} }) }}

    </div>
</div>

{% endblock content %}
