{% extends '@CMS/Admin/_layout.html.twig' %}

{% block title %}{{ 'Settings'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h3>Редактирование настройки</h3>

    <div class="well well-small">
        <h4>{{ setting.bundle }}:{{ setting.key }}</h4>
        <br />

        {{ form_errors(form) }}

        {{ form(form, {
            'attr': {'class': 'form-horizontal'}
        }) }}
    </div>

{% endblock content %}
