
{% block unicat_attribute_image_widget %}
    {% spaceless %}
    {% if data is not empty %}
        {{ smart_media_img(data, '100_100') }}
        <input type="checkbox" name="_delete_[{{ name }}]" id="{{ id ~ 'remove'}}" /><label for="{{ id ~ 'remove'}}" style="display: inline;"> Удалить</label>
        <br />
    {% endif %}

    {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock %}
