{% extends '@UnicatModule/Admin/configuration.html.twig' %}

{% block title %}{{ 'Edit category'|trans }} &laquo;{{ category.title }}&raquo; / {{ parent() }}{% endblock %}

{% block content %}

    <h2>{{ 'Edit category'|trans }} &laquo;{{ category.title }}&raquo;</h2>

    <div class="well">
        {#{{ form(form, {'attr': {'class': 'form-horizontal'}}) }}#}
        {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <fieldset>
            <div class="tabbable">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#base-settings" data-toggle="tab">{{ 'Base settings'|trans }}</a></li>
                    {% if form.properties %}<li><a href="#cat-properties" data-toggle="tab">{{ 'Properties'|trans }}</a></li>{% endif %}
                    <li><a href="#meta-tags" data-toggle="tab">{{ 'Meta tags'|trans }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="meta-tags">
                        {{ form_widget(form.meta) }}
                    </div>
                    {% if form.properties %}
                    <div class="tab-pane" id="cat-properties">
                        {{ form_widget(form.properties) }}
                    </div>
                    {% endif %}
                    <div class="tab-pane active" id="base-settings">
                        {{ form_widget(form) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        {{ form_rest(form) }}
                    </div>
                </div>
            </div>
        </fieldset>
        {{ form_end(form) }}
    </div>

    {{ tinymce_init3() }}
    {{ elfinder_tinymce_init() }}

{% endblock content %}
