{% extends '@UnicatModule/Admin/_layout.html.twig' %}

{#{% block title %}&laquo;{{ configuration.title }}&raquo; Unicat / {{ parent() }}{% endblock %}#}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <a href="{{ path('unicat_admin.item_create', {'configuration': configuration.name}) }}" class="btn btn-primary pull-right">
        {{ 'Create record'|trans }}
    </a>

    <h2>{{ 'Records'|trans }}</h2>

    <p>Всего: <b>{{ items|length }}</b></p>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Slug'|trans }}</th>
            {% for attribute in attributes %}
                {% if attribute.showInAdmin %}<th>{{ attribute.title }}</th>{% endif %}
            {% endfor %}
            <th>{{ 'Created at'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('unicat_admin.item_edit', {'configuration': configuration.name, 'id': item.id}) }}"{% if item.isDisabled %} style="text-decoration: line-through;"{% endif %}>{{ item.slug }}</a>
                </td>
                {% for attribute in attributes %}
                    {% if attribute.showInAdmin %}
                        <td><a href="{{ path('unicat_admin.item_edit', {'configuration': configuration.name, 'id': item.id}) }}"{% if item.isDisabled %} style="text-decoration: line-through;"{% endif %}>{{ item.attribute(attribute.name) }}</a></td>
                    {% endif %}
                {% endfor %}
                <td>{{ item.createdAt|date() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>

{% endblock content %}
