{% extends '@UnicatModule/Admin/_layout.html.twig' %}

{% block title %}{{ 'Settings'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">

    <h2>{{ 'Configuration settings'|trans }}: {{ configuration.name }}</h2>

    {{ form(form, {'attr':{'class':'form-horizontal well'}}) }}

    </div>
</div>

{% endblock content %}
