{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Unicat'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h2>{{ 'Unicat configurations'|trans }}</h2>

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Entities namespace'|trans }}</th>
            <th>{{ 'Created at'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for item in configurations %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('smart_module.unicat_admin.configuration', {'configuration': item.name}) }}">{{ item.title }}</a></td>
                <td><a href="{{ path('smart_module.unicat_admin.configuration', {'configuration': item.name}) }}">{{ item.name }}</a></td>
                <td>{{ item.entitiesNamespace }}</td>
                <td>{{ item.createdAt|date() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="well">
        {{ form(form, {'attr': {'class': 'form-horizontal'}} ) }}
    </div>

{% endblock content %}
