{% extends '@CMS/Admin/module.html.twig' %}

{% block title %}{{ 'Unicat'|trans }} / {{ parent() }}{% endblock %}

{% set page_header = 'Unicat'|trans %}
{% set page_description = 'Module'|trans %}

{% block content %}

    <h3>{{ 'Unicat configurations'|trans }}</h3>

<div class="box box-primary">
    <div class="box-header with-border">

    <table class="table table-bordered table-hover">
        <thead><tr>
            <th style="width: 1%;">id</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Entities namespace'|trans }}</th>
            <th>{{ 'Created at'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for item in configurations %}
            <tr>
                <td>{{ item.id }}</td>
                <td><a href="{{ path('unicat_admin.configuration', {'configuration': item.name}) }}">{{ item.title }}</a></td>
                <td><a href="{{ path('unicat_admin.configuration', {'configuration': item.name}) }}">{{ item.name }}</a></td>
                <td>{{ item.entitiesNamespace }}</td>
                <td>{{ item.createdAt|date() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>

    {{ form(form, {'attr': {'class': 'form-horizontal well'}} ) }}

{% endblock content %}
