{% extends '@UnicatModule/Admin/configuration.html.twig' %}

{% block title %}{{ 'Properties group create'|trans }} / {{ parent() }}{% endblock %}

{% block content %}

    <h2>{{ 'Properties group create'|trans }}</h2>

    <a href="{{ path('smart_module.unicat_admin.configuration', {'configuration': configuration.name}) }}">
        &laquo; назад к конфигурации &laquo;{{ configuration.title }}&raquo;
    </a>

    {{ form(form, {'attr': {'class': 'well form-horizontal'}}) }}

{% endblock content %}
